<body class="bg-light">
  <div class="container-fluid w-90 p-3">
    <div class="row my-5">
      <div class="col">
        <div class="card shadow">
          <div
            class="card-header bg-primary d-flex justify-content-between align-items-center"
          >
            <h3 class="text-light">Danh sách Sách-Truyện</h3>
            <button class="btn btn-light"><a href="">Add</a></button>
          </div>
          <div class="card-body" id="show_all_adminaccounts">
            <div class="container">
              <div class="row" style="row-gap: 20px">
                <div class="col-12 col-md-3">
                  <div class="item">
                    <p>Tên:</p>
                    <p>Mã:</p>
                    <p>Giá hiện tại:</p>
                    <p>Giá ban đầu:</p>
                    <p></p>
                    <p></p>
                    <button class="btn btn-danger">Xóa khỏi danh sách</button>
                    <button class="btn btn-danger">Bỏ yêu thích</button>
                    <button class="btn btn-primary">Yêu thích</button>
                  </div>
                  <div class="item">
                    <p>Tên:</p>
                    <p>Mã:</p>
                    <p>Giá hiện tại:</p>
                    <p>Giá ban đầu:</p>
                    <p></p>
                    <p></p>
                    <button class="btn btn-danger">Xóa khỏi danh sách</button>
                    <button class="btn btn-danger">Bỏ yêu thích</button>
                    <button class="btn btn-primary">Yêu thích</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end table -->
        </div>
      </div>
    </div>
  </div>
</body>
